.header-search {
	position: absolute;
	top: 5%;
	font-size: 1.6em;
}

.container-weather {
	height: 95vh;
	width: 40%;
}

.search-button {
	background-color: #89aae7;
	color: white;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.5s;
}

.search-button:hover {
	background-color: #5179c2;
}

.not-type_search {
	position: absolute;
	bottom: 10%;
}

.not-type_search h1 {
	line-height: 50px;
	max-width: 90%;
	text-align: center;
	font-size: 2.1em;
}

.image-wheater {
	font-size: 7em;
	margin-bottom: 2rem;
}

.actual-climate {
	font-size: 2.2em;
}

.hero-image {
	max-height: 300px;
}

.temperature-humidity {
	position: absolute;
	bottom: 10%;
}

.temperature-humidity .temperature,
.humidity {
	font-size: 1.3em;
}

.humidity-icon {
	font-size: 1.8em;
}

@media (max-width: 840px) {
	.container-weather {
		width: 70%;
	}
}

@media (max-width: 611px) {
	.container-weather {
		padding: 2rem;
		width: 80%;
	}

	.search-button {
		height: 40px;
		width: 40px;
		font-size: .6em;
	}

	.header-search {
		font-size: 1.5em;
	}
}

@media (max-width: 472px) {
	.container-weather {
		width: 90%;
	}

	.hero-image {
		max-height: 240px;
	}
}